<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <!-- {% if messages %}
      {% for message in messages %}
          <h1> {{ message }} </h1>
      {% endfor %}
    {% endif %} -->
    <h1> Dojo Secrets </h1>
    <p class="greeting"> Welcome {{users.first_name}}!
      <form action = "/logout" method = "post">
        {% csrf_token %}
        <input class="logout" type="submit" value="Log Out">
      </form> </p>
    <form action="/secret_post" method = "post">
      {% csrf_token %}
      <textarea name="secret" class="secret"> Your secret here... </textarea>
      <input type="submit" value="Post a Secret">
    </form>
    <a href="/popular"> Most Popular Secrets </a>
    <hr>
    {% for secret in secrets %}
      <h3> posted {{secret.created_at|timesince}} </h3>
      <p> {{secret.secret}} - {{secret.likes.count}} likes
        {% if users in secret.likes.all %}
          you have already liked this
        {% else %}
          <a href="/like/{{secret.id}}"> Like this post </a>
        {% endif %}
        {% if users.id == secret.user.id %}
          <b>You posted this</b> <a href="/delete/{{secret.id}}">Delete</a>
        {% endif %}
      </p>
    {% endfor %}
  </body>
</html>
